
.crear-personaje-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
.crear-personaje-box {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
}  
  
.desingConfirm {
    align-self: flex-end;
}

button{
  align-self: flex-end;
  margin-top: 40px;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #28a745;
  color: #fff;
  border: 1px solid #000; /* Agrega un borde de color negro */
}

h2 {
    align-self: flex-start; /* Alinea "Seleccionar Color" a la izquierda */
}

.selecColor {
    align-self: center;
}

img {
  max-width: 100px; /* Ajusta el ancho máximo según tus necesidades */
  margin-top: 40px;
  margin-right:100px ;
}
