@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap");

:root {
	background-image: url("bg.jpg");
	--primary: #00ff00;
	--secondary: #24261c;
	--accent: #837599;
	--border-color: #808080;

	--fruit: rgb(255, 0, 212);
	--player: #00ff00;
	--opponents: #ffffff;
}


header {
	display: flex;
	z-index: 1;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--accent);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	height: 5%;
}

header > h1 {
	text-align: center;
	color: var(--text);
	margin: 5px;
	font-size: 1.4rem;
}

#screen {
	z-index: 9;
	border: 1px solid var(--border-color);
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	image-rendering: -moz-crisp-edges;
	width: 600px;
	height: 600px;
	-webkit-box-shadow: 0px 4px 17px 0px rgba(20, 20, 20, 0.911);
	
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	vertical-align: top;
	background-color: rgb(255, 255, 255);
}

#score-table {
	display: inline-block;
	margin-bottom: 7vh;
	max-height: 200px;
	font-family: "Cinzel", serif;

    position: center;
}

#score-table #scoretableTitle {
	border-bottom: 1px solid #ccc;
	padding-bottom: 8px;
	padding-right: 20px;
	font-size: 0.8rem;
}
.score-container {
	position: absolute;
    top: 0%;   
    left: 0%;  
    margin: 1%;

	width: 220px;
	height: 140px;
	
	background-color: white;
	border: 2px solid #ccc; 
	border-radius: 8px; 
	
}

#score-table #scoretablePoints {
	border-bottom: 1px solid #ccc;
}

#score-table td {
	padding-top: 5px;
	padding-bottom: 5px;
}

#score-table .socket-id {
	font-weight: normal;
	color: #222;
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}

#score-table .score-value {
	font-weight: bold;
	color: #000;
	text-align: right;
}

#score-table .current-player .socket-id,
#score-table .current-player .score-value {
	color: #bdaa27;
}

.game-container {
	position: absolute;
	top: 8%;   
	left: 30%;  

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	height: 690px;
	width: 690px;

	background-color: white;
	border: 1px solid #ccc; 
	border-radius: 8px; 
	
}
.estado {
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	top: 0%;
	left: 83%;

	background-color: white;
	width: 15%;
	border-radius: 8px;
}

@media screen and (min-width: 1024px) {
}
